<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMyService2" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/MyService" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyService" contract="IMyService"
          name="BasicHttpBinding_IMyService" />
      <endpoint address="net.tcp://localhost:9998/MyService/net" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IMyService2" contract="IMyService2"
          name="NetTcpBinding_IMyService2">
        <identity>
          <userPrincipalName value="KOLESNICHENKOHP\Kolesnichenko" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>