<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="WCFServices.MyService" behaviorConfiguration="MyBehavior">
          <endpoint address="" binding="basicHttpBinding" contract="WCFServices.IMyService" ></endpoint>
          <endpoint address="net" binding="netTcpBinding" contract="WCFServices.IMyService2" ></endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:9998/MyService"/>
              <add baseAddress="http://localhost:9999/MyService"/>
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MyBehavior">
            <serviceMetadata httpGetEnabled="True"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>