<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service name="rest.Servicce" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="webHttpBinding" contract="rest.Servicce" behaviorConfiguration="web" />
        <endpoint address="mex" binding="mexHttpBinding" contract="rest.Servicce" behaviorConfiguration="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/Servicce"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"/>
        </behavior>      
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>